h1 {
  background-color: blue;
}

.container {
  display: flex;
  justify-content: center;
  gap: 50px;
}

.row {
  display: flex;
}

.cell {
  border: 1px solid black;
  width: 50px;
  height: 50px;
  background-color: aqua;
}

.cell:hover {
  background-color: rgb(6, 163, 163);
}
